$primary-bg-color: #ED1C24;
$primary-font-color: #DEDEDE;

$secondary-bg-color: #D8D8D8;
$secondary-font-color: #FF1019;

$spacing-section: 20px;

$section-spacing-mobile: 5vw;
$section-spacing: 5vw;

@mixin mobile-breakpoint {
  @media (max-width: 700px) {
    @content;
  }
}

body {
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.5em;
  color: $primary-font-color;
  background-color: $primary-bg-color;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 24px;
  font-weight: normal;
  margin-top: 0px;
  line-height: 1.25em;

  small {
    font-size: 20px;
  }
}

a {
  text-decoration: none;
}

// site anchor link
a[name] {
  position: relative;
  top: -50vh;
}

@include mobile-breakpoint {
  a[name] {
    position: relative;
    top: 5vh;
  }
}


.light_background {
  background-color: $secondary-bg-color;
  color: $secondary-font-color;
}

.invert_background {
  color: $primary-font-color;
  background-color: $primary-bg-color;
}

.section {
  padding: $section-spacing;

  @include mobile-breakpoint {
    padding: $section-spacing-mobile;
  }
}

.btn {
  display: inline-block;
  background-color: $secondary-bg-color;
  color: $secondary-font-color;
  padding: 0.5em 0.75em;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.btn_invert {
  color: $primary-font-color;
  background-color: $primary-bg-color;
}

.mobile_show {
  display: none;

  @include mobile-breakpoint {
    display: block;
  }
}

.mobile_hide {
  @include mobile-breakpoint {
    display: none;
  }
}

/*------------- sections  ----------- */

.site_header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em 0;
  width: 100%;
  z-index: 100;
  background: transparent;

  nav {
    display: flex;
    justify-content: center;
    position: relative;
  }

  .link_group {
    position: absolute;
    top: 0;

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }
  }

  a {
    color: $primary-font-color;
    display: inline-block;
    padding: 0 1em;
    visibility: hidden;

    &:hover {
      text-decoration: underline;
    }
  }

  #logo_main {
    fill: $primary-font-color;
  }

  &:hover {
    color: $primary-font-color;
    background-color: $primary-bg-color;

    a {
      visibility: visible;
    }
  }
}

.front {
  width: 100vw;
  height: 100vh;
  position: relative;

  @include mobile-breakpoint {
    height: 95vh;
  }

  .cover {
    $length: 70vh;

    height: $length;
    width: $length;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.5 * $length;
    margin-left: -0.5 * $length;

    img {
      width: 100%;
    }

    .title {
      color: $secondary-font-color;
      visibility: hidden;
    }

    &:hover {
      .title {
        visibility: visible;
      }
    }

    .en {
      position: absolute;
      top: 0.5em;
      left: 0.5em;
    }

    .zh {
      position: absolute;
      top: 0.5em;
      right: 0.5em;
    }

    @include mobile-breakpoint {
      $length: 80vw;

      height: $length;
      width: $length;
      margin-top: -0.5 * $length;
      margin-left: -0.5 * $length;
    }
  }

  .background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

/* -------------------------------- */

.video {
  width: 100vw;
  position: relative;

  .blocking_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: black;
    z-index: 10;
    opacity: 0;
    transition: all ease-in 250ms;
  }

  .parallex {
    z-index: 0;
  }

  &.playing {
    .blocking_overlay {
      opacity: 0
    }
  }

}

.parallex {
  width: 100vw;

  // parallex set the height, which smaller than the background
  height: 40vw;
  overflow: hidden;
  background-color: black;

  @include mobile-breakpoint {
    height: 40vh;
  }
}

.parallex_background {
  width: 100vw;
  position: relative;

  img {
    width: 100vw;
  }
}

/* -------------------------------- */

.album {
  display: flex;
  background: $primary-bg-color;
  padding: 5vw;

  $max-cover-width: 500px;

  .album_cover, .album_info {
    width: 50%;
  }

  .album_cover {
    padding-right: 5vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    iframe {
      width: 40vw;
      height: 40vw;
      max-width: $max-cover-width;
      max-height: $max-cover-width;
      border: 0;
    }
  }

  ul {
    padding: 0;
    margin: 0 0 1em 0;
    max-width: $max-cover-width;
    list-style: none;
    border-bottom: 1px $primary-font-color solid;

    li {
      padding: 0.5em 0;
      border-top: 1px $primary-font-color solid;
    }
  }

  .btn {
    display: inline-block;
    margin-right: 1em;
  }

  @include mobile-breakpoint {
    display: block;

    h1 {
      margin-bottom: 0.5em;
    }

    .album_cover, .album_info {
      width: 100%;
    }

    .album_cover {
      padding: 0;
      width: calc(100vw - 2 * #{$section-spacing-mobile});
      height: calc(100vw - 2 * #{$section-spacing-mobile});

      iframe {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
      }
    }

    ul {
      width: 100%;
      max-width: 100%;
      margin-top: $section-spacing-mobile;
    }
  }
}

.tour {
  table {
    text-align: left;
    width: 100%;
    border-collapse: collapse;

    th {
      // header for accessibility
      //display: none;
      color: white;
      font-weight: normal;
    }

    th, td {
      border-bottom: 1px white solid;
      padding: 0.5em 0;
    }

    td {
      color: $secondary-font-color;
    }

    td.ticket {
      padding: 0;

      .btn {
        width: 100%;
        height: 100%;
        display: block;
        text-align: center;
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
    display: none;
    border-top: 1px white solid;

    li {
      border-bottom: 1px white solid;
      padding: 1em 0;

      .btn {
        margin-top: 1em;
      }
    }
  }

  @include mobile-breakpoint {
    ul {
      display: block;
    }

    table {
      display: none;
    }
  }
}

.about {
  display: flex;
  width: 100vw;
  overflow: hidden;
  padding: 0;

  .img_container {
    width: 50%;

    img {
      display: block;
      height: 100%;
    }
  }

  .content {
    width: 50%;
    padding: $spacing-section;
    text-align: left;
    padding: $section-spacing;

    p {
      max-width: 600px;
    }
  }

  @include mobile-breakpoint {
    flex-direction: column;
    padding: 0;

    .content, .img_container {
      width: 100%;
    }

    .content {
      padding: 0;
      order: 0;
      padding: $section-spacing-mobile;
    }

    img {
      width: 100%;
    }

    .img_container {
      order: 1;
    }
  }
}

footer {
  padding: 2em;

  .copyright {
    color: #808080;
  }
}
